.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #35363C;
  font-weight: 600;
  font-size: 32px;
  padding: 30px;
  margin: 0;
}
.navbar__logoArea {
  width: 10%;
}
.navbar__logo {
  width: 100%;
}
.navbar__menu {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.navbar__item {
  font-size: 1rem;
  transition: 0.3s;
}
.navbar__link {
  text-decoration: none;
  transition: 0.3s;
  color: #FFFFFF;
}
.navbar__link:hover {
  color: #FCEF57;
}
.navbar__dropDown:hover .navbar__dropDownContent {
  display: flex;
}
.navbar__dropArea {
  padding-top: 30px;
  z-index: 1;
}
.navbar__dropDownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 15%;
  font-size: 13px;
  display: none;
  background-color: #FFFFFF;
}
.navbar__dropLink {
  border: 1px solid #D4D5DB;
  padding: 5px 80px 5px 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: 400;
  transition: 0.3s;
}
.navbar__dropLink i {
  color: #237250;
  display: none;
  transition: 0.3s;
}
.navbar__dropLink:hover {
  color: #237250;
}
.navbar__dropLink:hover i {
  display: contents;
}

.topbar {
  background-color: #2C2D31;
  padding: 25px;
}
.topbar .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.topbar__icons {
  display: flex;
  justify-content: space-between;
  width: 5%;
}
.topbar__icons i {
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.3s;
}
.topbar__icons i:hover {
  color: #FCEF57;
}
.topbar__login {
  display: flex;
  justify-content: space-between;
  width: 14%;
}
.topbar__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}
.topbar__link:hover {
  color: #FCEF57;
}
.topbar__link:hover i {
  color: #FFFFFF;
}
.topbar__link i {
  color: #FCEF57;
  font-size: 16px;
}

.soccerWiki {
  padding-top: 20px;
}
.soccerWiki__header {
  display: flex;
  justify-content: space-between;
}
.soccerWiki__header h5 {
  border-left: 4px solid #35AD79;
  height: 20px;
  padding-left: 15px;
}
.soccerWiki__contButton {
  padding: 2px 10px;
}
.soccerWiki__body {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.soccerWiki__info {
  width: 48%;
  padding: 30px 70px;
}
.soccerWiki__info p {
  font-size: 14px;
  line-height: 18px;
  color: #9B9B9B;
}
.soccerWiki__stats {
  width: 48%;
  margin-left: 4%;
}
.soccerWiki__stat {
  padding-top: 20px;
  width: 50%;
  height: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.soccerWiki__stat span {
  font-size: 44px;
  font-weight: 300;
}

.--btn {
  background-color: #FCEF57;
  border: 1px solid #000;
  transition: 0.3s;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 12px;
}
.--btn:hover {
  background: none;
  border: 1px solid #000;
}

.--boxes {
  background-color: #FFFFFF;
  border: 1px solid #D4D5DB;
}

body {
  background-color: #EDEFF4;
  font-family: "Kanit", sans-serif;
}/*# sourceMappingURL=main.css.map */