@import 'variables/colors';
@import 'layout/navbar';
@import 'layout/topbar';
@import 'layout/soccerWiki';
@import 'layout/leagues';
@import 'layout/community';
@import 'layout/trends';
@import 'layout/newPlayers';
@import 'layout/upFooter';
@import 'layout/downFooter';
@import 'layout/footer';
@import 'components/icons';
@import 'components/buttons';
@import 'components/divs';

body{
    background-color: $main;
    font-family: 'Kanit', sans-serif;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }