.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #35363C;
  font-weight: 600;
  font-size: 32px;
  padding: 30px;
  margin: 0;
}
.navbar__logoArea {
  width: 10%;
}
.navbar__logo {
  width: 100%;
}
.navbar__menu {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.navbar__item {
  font-size: 1rem;
  transition: 0.3s;
}
.navbar__link {
  text-decoration: none;
  transition: 0.3s;
  color: #FFFFFF;
}
.navbar__link:hover {
  color: #FCEF57;
}
.navbar__dropDown:hover .navbar__dropDownContent {
  display: flex;
}
.navbar__dropArea {
  padding-top: 30px;
  z-index: 1;
}
.navbar__dropDownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 16%;
  font-size: 13px;
  display: none;
  background-color: #FFFFFF;
}
.navbar__dropLink {
  border: 1px solid #D4D5DB;
  padding: 5px 80px 5px 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: 400;
  transition: 0.3s;
}
.navbar__dropLink i {
  color: #237250;
  display: none;
  transition: 0.3s;
}
.navbar__dropLink:hover {
  color: #237250;
}
.navbar__dropLink:hover i {
  display: contents;
}

.topbar {
  background-color: #2C2D31;
  padding: 25px;
}
.topbar .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.topbar__icons {
  display: flex;
  justify-content: space-between;
  width: 5%;
}
.topbar__icons i {
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.3s;
}
.topbar__icons i:hover {
  color: #FCEF57;
}
.topbar__login {
  display: flex;
  justify-content: space-between;
  width: 14%;
}
.topbar__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}
.topbar__link:hover {
  color: #FCEF57;
}
.topbar__link:hover i {
  color: #FFFFFF;
}
.topbar__link i {
  color: #FCEF57;
  font-size: 16px;
}

.soccerWiki {
  padding-top: 20px;
}
.soccerWiki__header {
  display: flex;
  justify-content: space-between;
}
.soccerWiki__header h5 {
  border-left: 4px solid #35AD79;
  height: 20px;
  padding-left: 15px;
}
.soccerWiki__contButton {
  padding: 2px 10px;
}
.soccerWiki__body {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.soccerWiki__info {
  width: 48%;
  padding: 40px 70px;
}
.soccerWiki__info p {
  font-size: 14px;
  line-height: 18px;
  color: #9B9B9B;
}
.soccerWiki__stats {
  width: 48%;
  margin-left: 4%;
}
.soccerWiki__stat {
  padding-top: 20px;
  width: 50%;
  height: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.soccerWiki__stat span {
  font-size: 44px;
  font-weight: 300;
}

.leagues {
  padding-top: 20px;
}
.leagues__body {
  display: flex;
  flex-direction: column;
}
.leagues__item {
  display: flex;
  justify-content: flex-start;
  padding: 20px 130px 20px 10px;
}
.leagues__leaguePhoto {
  width: 550px;
}
.leagues__info {
  margin-left: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.leagues__title {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}
.leagues__title:hover {
  color: #237250;
}
.leagues__countryPhoto {
  width: 15%;
}
.leagues__countryName {
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: 0.3s;
  margin-left: 5px;
}
.leagues__countryName:hover {
  color: #237250;
  text-decoration: none;
}

.community {
  margin-top: 20px;
}
.community__header {
  color: #FFFFFF;
  padding: 15px 0px;
}
.community__item {
  display: flex;
  justify-content: flex-start;
  padding: 15px 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.community__number {
  color: #35AD79;
}
.community__name {
  color: #007bff;
  text-decoration: none;
  margin-left: 40px;
  transition: 0.3s;
}
.community__name:hover {
  color: #237250;
}

.trends {
  margin-top: 20px;
}
.trends__body {
  display: flex;
  justify-content: space-between;
}
.trends__content {
  width: 48%;
}
.trends__btn {
  padding: 10px 40px;
}
.trends__item {
  padding: 5px 40px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.trends__photo {
  width: 17%;
  margin-left: 35px;
}
.trends__name {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}
.trends__name:hover {
  color: #237250;
}

.newPlayers {
  margin-top: 20px;
}
.newPlayers__item {
  transition: 0.5s;
  margin-top: 30px;
  width: 48%;
  float: left;
  display: flex;
  padding: 5px;
}
.newPlayers__photo {
  width: 20%;
  height: 20%;
}
.newPlayers__playerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.newPlayers__name {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #007bff;
  font-weight: 600;
}
.newPlayers__rating {
  font-size: 12px;
  font-weight: 600;
  background-color: #35AD79;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1px 10px;
  border-radius: 5px;
}
.newPlayers__position {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #9B9B9B;
}
.newPlayers__date {
  font-size: 12px;
  line-height: 1.71429;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #9B9B9B;
}

.upFooter {
  background-color: #35363C;
  width: 100%;
  padding: 40px 0;
  display: flex;
}
.upFooter__info {
  width: 45%;
}
.upFooter__logoArea {
  display: flex;
}
.upFooter__logoArea p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 20px;
}
.upFooter__logo {
  width: 25%;
}
.upFooter__wiki {
  padding-right: 250px;
  margin-top: 20px;
}
.upFooter__wiki p {
  color: #FFFFFF;
  line-height: 1.71429;
  font-weight: 300;
  letter-spacing: 0.025em;
  font-size: 14px;
  text-align: justify;
}
.upFooter__contactArea {
  margin-top: 20px;
  display: flex;
}
.upFooter__contactArea i {
  font-size: 20px;
  color: #35AD79;
  margin-top: 10px;
}
.upFooter__contact {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.upFooter__title {
  color: #FFFFFF;
  font-weight: 600;
}
.upFooter__mail {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}
.upFooter__mail:hover {
  color: #237250;
}
.upFooter__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.upFooter__buttons i {
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 5px;
}
.upFooter__button {
  background: none;
  padding: 9px 30px;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 5px;
  transition: 0.3s;
}
.upFooter__button:hover {
  background: #35AD79;
  border-color: #35AD79;
}
.upFooter__icons {
  width: 32%;
  display: flex;
  justify-content: space-between;
}
.upFooter__players {
  width: 50%;
}
.upFooter__table {
  margin-top: 40px;
  padding: 20px;
  border-bottom: 2px solid #FCEF57;
  border-top: 2px solid #FCEF57;
}
.upFooter__item {
  display: inline-flex;
  width: 45%;
  margin-top: 10px;
}
.upFooter__photo {
  width: 30%;
  height: 30%;
  border-radius: 5px;
}

.downFooter {
  padding: 30px 0 50px 0;
  background-color: #2C2D31;
  font-size: 12px;
  font-weight: 500;
  color: #9B9B9B;
}
.downFooter__area {
  display: flex;
  justify-content: space-between;
}
.downFooter__info {
  width: 30%;
}
.downFooter__link {
  text-decoration: none;
  color: #9B9B9B;
  transition: 0.3s;
}
.downFooter__link:hover {
  color: #35AD79;
}
.downFooter__menu {
  margin-right: 30px;
  width: 55%;
  letter-spacing: 0.05em;
  line-height: 1.3;
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: #35363C;
  margin-top: 80px;
}

.players {
  margin-top: 20px;
}
.players__table {
  background-color: #FFFFFF;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.players__item {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 5px 10px;
}
.players__item span {
  margin-top: 25px;
}
.players__itemHeading {
  display: flex;
  padding-left: 10%;
  justify-content: space-between;
  width: 50%;
}
.players__number {
  text-align: right;
}
.players__nation {
  width: 100px;
  display: flex;
  justify-content: flex-start;
}
.players__natPhoto {
  width: 30px;
  height: 20px;
}
.players__photo {
  width: 60px;
}
.players__name {
  text-align: left;
  width: 30%;
}
.players__itemMiddle {
  display: flex;
}
.players__position {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}
.players__itemFooter {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.--btn {
  background-color: #FCEF57;
  border: 1px solid #000;
  transition: 0.3s;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 12px;
}
.--btn:hover {
  background: none;
  border: 1px solid #000;
}

.--greenButton {
  color: #FFFFFF;
  background-color: #35AD79;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
}

.--boxes {
  background-color: #FFFFFF;
  border: 1px solid #D4D5DB;
}

.--greenHeader {
  background-color: #35AD79;
  text-align: center;
}

.--right {
  margin-left: 3%;
}

.--bodyNumber {
  color: #35AD79;
}

.--bodyname {
  color: #007bff;
  font-weight: 500;
}

.--bodyPosition {
  font-weight: 500;
}

body {
  background-color: #EDEFF4;
  font-family: "Kanit", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 170px;
}/*# sourceMappingURL=main.css.map */