.--btn {
    background-color: $navbarHover;
    border: 1px solid #000;
    transition: 0.3s;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    font-size: 12px;
    &:hover {
        background: none;
        border: 1px solid #000;
    }
}

.--greenButton {
    color: $navbarLink;
    background-color: $greenTheme;
    font-weight: 500;
    letter-spacing: .05em;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    transition: 0.3s;
    &:hover {
        background-color: #000;
    }
}