.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: $navbar;
    font-weight: 600;
    font-size: 32px;
    padding: 30px;
    margin: 0;

    &__logoArea {
        width: 10%;
    }
    &__logo {
        width: 100%;
    }
    &__menu {
        margin-top: 30px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 75%;
    }
    &__item {
        font-size: 1rem;
        transition: 0.3s;
    }
    &__link {
        text-decoration: none;
        transition: 0.3s;
        color: $navbarLink;
        &:hover {
            color: $navbarHover;
        }
    }
    &__dropDown {
        &:hover .navbar__dropDownContent{
            display: flex;
        }
    }
    &__dropArea {
        padding-top: 30px;
        z-index: 1;
    }
    &__dropDownContent {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $navbarLink;
        width: 16%;
        font-size: 13px;
        display: none;
        background-color: $navbarLink;
    }
    &__dropLink {
        border: 1px solid $borders;
        padding: 5px 80px 5px 5px;
        text-decoration: none;
        color: $navbarDropItem;
        font-weight: 400;
        transition: 0.3s;
        i {
            color: $greenHover;
            display: none;
            transition: 0.3s;
        }
        &:hover {
            color: $greenHover;
        }
        &:hover i {
            display:contents;
        }
    }
}