.newPlayers {
    margin-top: 20px;
    &__body {
        
    }   
    &__item {
        transition: 0.5s;
        margin-top: 30px;
        width: 48%;
        float: left;
        display: flex;
        padding: 5px;
    }
    &__photo {
        width: 20%;
        height: 20%;
    }
    &__playerInfo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    &__name {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: $navbarDropItem;
        font-weight: 600;
    }
    &__rating {
        font-size: 12px;
        font-weight: 600;
        background-color: $greenTheme;
        color: $navbarLink;
        width: fit-content;
        height: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
    }
    &__position {
        font-size: 14px;
        line-height: 1.71429;
        font-weight: 600;
        letter-spacing: 0.025em;
        color: $pColor;
    }
    &__date {
        font-size: 12px;
        line-height: 1.71429;
        font-weight: 600;
        letter-spacing: 0.025em;
        color: $pColor;
    }
}