.trends {
    margin-top: 20px;
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 48%;
    }
    &__btn {
        padding: 10px 40px;
    }
    &__item {
        padding: 5px 40px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .05em;
    }
    &__photo {
        width: 17%;
        margin-left: 35px;
    }
    &__name {
        color: $navbarDropItem;
        text-decoration: none;
        margin-left: 10px;
        transition: 0.3s;
        &:hover {
            color: $greenHover;
        }
    }
}