$main: #EDEFF4;
$borders: #D4D5DB;
$greenHover: #237250;
$greenTheme: #35AD79;
$boxBorder: #D4D5DB;

//topbar
$topbar: #2C2D31;
$topbarLogin: #D9CF51;
//navbar
$navbar: #35363C;
$navbarHover: #FCEF57;
$navbarLink: #FFFFFF;
$navbarDropItem: #007bff;
//wiki
$pColor: #9B9B9B;