$main: #EDEFF4;
$borders: #D4D5DB;
$greenHover: #237250;

//topbar
$topbar: #2C2D31;
$topbarLogin: #D9CF51;
//navbar
$navbar: #35363C;
$navbarHover: #FCEF57;
$navbarLink: #FFFFFF;
$navbarDropItem: #007bff;